meta:
  image: pojntfx/dhclientd:latest
  dev: false
  debugPort: 31441
  debugNodePort: 31441
  target: "{{ .DIBS_TARGET }}"
  platform: "{{ .TARGETPLATFORM }}"
  debug: "{{ .DIBS_DEBUG }}"

resources:
  nodeSelector: {}
  memory: "128Mi"
  cpu: "256m"
  maxReplicas: 10

ingress:
  nodePort: 31241
  domain: dhclientd.felix.pojtinger.com
  path: /
